body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
}

.header {
    background-color: hsl(160, 80%, 30%);
    padding: 20px;
    grid-area: 1 / 2 / 2 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px;
}

.sidebar {
    background-color: hsl(160, 80%, 10%);
    color: whitesmoke;
    grid-area: 1 / 1 / 4 / 2;

}

.main {
    background-color: gainsboro;
    padding: 50px;
    grid-area: 2 / 2 / 4 / 3;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.card {
    background-color: whitesmoke;
}

.side-titles {
    background-color: whitesmoke;
    grid-area: 2 / 3 / 4 / 4;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}